<div class="bg-white mx-auto">
  <div class="d-flex flex-column text-center py-5 py-md-5 my-md-5">
    <h3>Features</h3>
    <h5>
      Here are some features that makes journaling and note taking simple and
      enjoyable with menote!
    </h5>
    <div class="d-flex justify-content-center flex-wrap mx-xl-5">
      <div class="feature-card" *ngFor="let feature of features">
        <i
          class=" d-block fa fa-3x fa-{{ feature.icon }}"
          aria-hidden="true"
        ></i>
        <p class="feature-name ">{{ feature.name }}</p>
        <p class="feature-desc">{{ feature.desc }}</p>
      </div>
    </div>
    <a
      class="btn btn-primary btn-lg mx-auto my-5 signup-btn"
      routerLink="/signin"
      >Join for free</a
    >
  </div>
</div>
