<h3 class="h3 mt-2">Security</h3>
<hr>
<div></div>
<div id="pwd-change-container">
  <form
    #f="ngForm"
    (ngSubmit)="onChangePassword(f)"
    class="mb-2">
    <div class="form-group">
      <label for="currentPwd">Current password</label>
      <input
        type="password"
        id="currentPwd"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="newPwd">New password</label>
      <input
        type="password"
        id="newPwd"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="confirmPwd">Confirm new password</label>
      <input
        type="password"
        id="confirmPwd"
        class="form-control">
    </div>
    <button
      class="btn btn-outline-primary"
      type="submit">Update</button>
  </form>
</div>

