<div class="list-group h-100 w-100">
  <div *ngIf="notes$ | async as notes; else loading">
    <ng-container *ngIf="notes.length; else noItems">
      <div class="input-group searchbar">
        <input type="text" class="form-control" placeholder="Search notes" [(ngModel)]="searchText" />
        <div class="input-group-append pointer" *ngIf="searchText !== ''">
          <span class="input-group-text" (click)="searchText = ''">
            <i class="far fa-times-circle"></i>
          </span>
        </div>
      </div>
      <app-note-list-item *ngFor="let note of notes | filter: searchText" [note]="note"></app-note-list-item>
    </ng-container>
    <ng-template #noItems>
      <div class="align-self-center text-white my-auto">
        <h5 class="text-center pt-5">Empty, create a new note.</h5>
      </div>
    </ng-template>
  </div>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <app-button-circular
    id="btn-add"
    class="d-block"
    (handleClick)="onCreateNote()"
    tooltip="New Note"
  ></app-button-circular>
</div>
