.list-group {
  overflow-y: auto;
  background-color: #1a222b;
  border-right: 1pt solid #989da2;
}

input {
  border: none;
}

.searchbar .form-control:focus {
  box-shadow: none;
}

.input-group-text {
  padding: 3px;
  background-color: #ffffff;
  border: none;
}

#btn-add {
  position: absolute;
  bottom: 5px;
  left: 280px;
  z-index: 99;
}
