<div
  class="card m-3 d-flex flex-column cust-box-shadow"
  *ngIf="(note$ | async) as note; else loading"
>
  <!-- card header -->
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <input
        type="text"
        maxlength="100"
        class="card-input mb-md-3 border-0"
        required
        [ngModel]="note.title"
        (ngModelChange)="onTitleChange($event)"
      />
      <div class="text-right">
        <button mat-icon-button (click)="onDeleteNote()">
          <i class="fa fa-lg fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted d-inline d-md-block">
      <span>
        {{ note.location }}
      </span>
      <span class="ml-4">
        {{ note.weather }}
      </span>
    </h6>

    <!-- tags -->
    <div class="d-inline d-md-block ml-2 ml-md-auto">
      <span
        class="badge badge-pill badge-secondary mr-1"
        *ngFor="let tag of note.tags; index as i"
      >
        {{ tag }}
        <i (click)="onRemoveTag(tag)" class="fa fa-times pointer"> </i>
      </span>
      <button
        role="button"
        [hidden]="isTagsFull"
        *ngIf="!tagEditable; else tagInput"
        class="badge badge-secondary pointer rounded-circle"
        (click)="toggleTagEdit()"
      >
        <i class="fa fa-plus"></i>
      </button>
      <ng-template #tagInput>
        <!-- TODO input focus when adding new tag -->
        <input
          [autofocus]="tagEditable"
          autofocus
          type="text"
          id="tag-input"
          class="card-input border-0"
          (keyup.enter)="onSaveTag($event)"
          (blur)="tagEditable = false"
        />
      </ng-template>
    </div>
  </div>

  <!--card body-->
  <div class="card-body">
    <div class="card-text h-100">
      <!-- forala editor-->
      <div
        [froalaEditor]="froalaOptions"
        [ngModel]="note.content"
        (ngModelChange)="onContentChange($event)"
      ></div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
