/* card */
.card {
  min-width: 370px;
  height: calc(100% - 30px) !important;
  border: 0;
  overflow: hidden;
}
.card-header {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  padding: 0;
  height: calc(100% - 113px);
}

.card-input {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .card {
    margin: 0 !important;
    height: 100% !important;
  }
}

/* tag */
#tag-input {
  min-width: 100px;
  width: auto;
  border: 1pt solid gray !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#tag-input:focus {
  border: none !important;
}
