<div
  id="container-home"
  class="container-fluid">
<video
  autoplay
  muted
  preload
  loop
  class="d-none d-xl-block">
  <source
    src="../../../assets/videos/homepage-video.mp4"
    type="video/mp4">
</video>
  <div class="row align-items-center justify-content-between bg-transparent h-100">
    <div class="col-md justify-content-center pl-4 py-sm-4">
      <h1
        class="text-center text-white"
        id="home-statement">
        "Sometimes you never know the true value of a moment until it becomes a memory."
      </h1>
    </div>
    <div class="col-md">
      <app-signin></app-signin>
    </div>
  </div>
</div>
