<div *ngIf="displayConfirmation" class="alert alert-warning alert-dismissible fade show" role="alert">
  Changes saved!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="displayError" class="alert alert-danger alert-dismissible fade show" role="alert">
  Error: change were not saved!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="profile-container" class="w-50">
  <h3 class="h3 mt-2">Profile</h3>
  <form #f="ngForm">
    <ng-container *ngIf="userDoc | async as user">
      <div class="my-3">
        <label>Profile Photo</label>
        <div class="row">
          <div class="col-3">
            <!-- TODO get profile picture -->
            <img class="img-thumbnail rounded-circle mb-2" [src]="user.profileUrl">
          </div>
          <div class="col align-self-center pl-5">
            <button class="btn btn-outline-primary" (click)="onLoadProfileImage()">Change Photo</button>
            <small class="text-muted d-block">.jpg, .gif, or .png. Max file size 500K.</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [ngModel]="user.name" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [ngModel]="user.email" class="form-control">
      </div>
    </ng-container>
    <button type="submit" [disabled]="f.pristine" [ngClass]="!f.pristine ? 'pointer' : 'not-allowed'" class="btn btn-primary my-3 w-100"
      (click)="onSubmit(f)">Save Changes</button>
  </form>
</div>
