<div
  class="bg-light py-3 py-md-5 d-flex flex-column justify-content-center"
  id="start-container"
>
  <div class="text-center d-flex align-items-center justify-content-center">
    <img
      src="../../../assets/images/icons/icon-96x96.png"
      alt="Menote logo"
      class="d-inline mx-2"
    />
    <h1 class="d-inline text-primary" id="brand-start">menote</h1>
  </div>
  <p
    class="lead text-center pb-md-5 pt-md-2 mb-md-3 my-3 px-md-5"
    id="home-statement"
  >
    Making journaling and note-taking simple and productive
  </p>
  <img
    id="devices-sample"
    src="../../../assets/images/devices_sample_opt-min.png"
    alt="devices responsive design"
    class="mx-auto"
  />
</div>
