<footer class="text-muted pb-3">
  <div>
    <hr class="mx-4 pt-3">
    <div class=" text-muted d-flex justify-content-center mx-md-5 mx-3">
      <div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/dpetla/ng-journal-app" target="_blank" rel="noopener">GitHub</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/about">About</a>
          </li>
        </ul>
      </div>
      <p class="flex-row ml-3">|</p>
      <p class="flex-row mx-3">© {{ year }} menote</p>
    </div>
  </div>
</footer>
