#container-signin {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

form {
  min-width: 350px;
}

#signup-container {
  min-height: calc(100vh - 62px);
}
.pageheader {
  color: #fff;
  background-color: #343a40;
}

.lead {
  color: #54c2f2;
}

#signup-body {
  min-height: calc(100vh - 415px);
}
