<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="toggleSideMenu()"
      matTooltip="Toggle note list"
      [matTooltipDisabled]="!(isNotesPage$ | async)"
      [disabled]="!(isNotesPage$ | async)"
    >
      <i class="fa fa-bars fa-lg text-white pt-1" aria-hidden="true"></i>
    </button>
    <span id="brand-text" class="pointer" routerLink="/notes">menote</span>
    <span class="spacer"></span>
    <div class="dropdown nav-item" *ngIf="isAuthenticated$ | async; else noAuthLinks">
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Menu">
        <img width="38px" class="img-thumbnail rounded-circle p-0" [src]="userPhotoUrl$ | async" alt="profile" />
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="settings/account">
          <i class="fa fa-cog fa-fw mr-2" aria-hidden="true"></i>
          <span>Settings</span>
        </button>
        <button mat-menu-item routerLink="about">
          <i class="fa fa-info-circle fa-fw mr-2" aria-hidden="true"></i>
          <span>About</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <i class="fa fa-sign-out fa-fw mr-2" aria-hidden="true"></i>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
    <ng-template #noAuthLinks>
      <div>
        <a
          routerLink="/signin"
          routerLinkActive="d-none"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-white pointer mx-2"
          >Sign In</a
        >
        <a
          routerLink=""
          routerLinkActive="d-none"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-white pointer mx-2"
          >Home</a
        >
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
