#notes-container {
  width: 100%;
  height: calc(100vh - 62px);
}

#notes-sidenav {
  width: 350px;
  overflow: hidden;
}

#notes-list {
  min-width: 100%;
}

#btn-add {
  margin-top: 200px;
}

@media only screen and (min-width: 900px) {
  #notes-list {
    /* position: inherit; */
  }
}
