@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index: 10;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

app-note-detail,
app-note-start {
  width: 100%;
}

.cust-box-shadow {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
  0px 2px 2px 0px rgba(0,0,0,0.14),
  0px 1px 5px 0px rgba(0,0,0,0.12);
}

/* Override BS4*/
.bg-primary {
  background-color: #1B9CE2 !important;
}

.text-primary {
  color: #1B9CE2 !important;
}

.btn-orange {
  background-color: #FCA32D !important;
  border: #FCA32D;
}

/* froala */
.fr-wrapper div a {
  display: none !important;
}

.fr-top {
  border-top: 0;
}

.fr-box {
  min-height: calc(100% - 113px) !important;
  height: 100% !important;
}
.fr-wrapper {
  height: calc(100% - 76px);
  overflow-x: scroll;
}

@media only screen and (max-width: 900px) {
  .fr-wrapper {
    height: calc(100% - 38px);
  }
}
