#signin-container {
  min-height: calc(100vh - 167px);
}
.pageheader {
  color: #fff;
  background-color: #343a40;
}

#sigin-body {
  min-height: calc(100vh - 415px);
}

/* Google sign button */
.abcRioButtonBlue .abcRioButtonContentWrapper {
  border: 1px solid transparent;
}

.abcRioButton {
  position: relative;
  height: 50px;
  width: 319px;
  min-width: 240px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #4285f4;
  border: none;
  color: #fff;
}

.abcRioButtonContentWrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.abcRioButton .abcRioButtonIcon {
  background-color: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.abcRioButtonIcon {
  float: left;
  padding: 15px;
}

.abcRioButtonContents {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
  font-size: 16px;
  line-height: 48px;
}

.abcRioButtonSvg {
  top: 16px;
  left: 16px;
  position: absolute;
}
