#signin-container {
  min-height: calc(100vh - 167px);
}
.pageheader {
  color: #fff;
  background-color: #343a40;
}

.lead {
  color: #54c2f2;
}

#sigin-body {
  min-height: calc(100vh - 415px);
}

form,
#signup-section {
  min-width: 360px;
}

a.btn:hover {
  color: #fff;
}
