#settings-container {
  min-height: calc(100vh - 167px);
}
.pageheader {
  color: #fff;
  background-color: #343a40;
}

a.nav-link {
  color: #54c2f2;
}

#settings-body {
  min-height: calc(100vh - 415px);
  padding-bottom: 2rem;
}
