<div id="settings-container">

  <!-- header -->
  <div class="pageheader py-3 py-md-5 mb-3 mb-md-5 text-center text-sm-left">
    <div class="container">
      <h1>Settings</h1>
      <div class="nav lead text-primary" id="settings-menu">
        <li class="nav-item">
          <a
            class="nav-link active pl-0"
            routerLink="account"
            routerLinkActive>
            <i class="fa fa-user mr-2" aria-hidden="true"></i>Account</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active pl-0"
            routerLink="profile"
            routerLinkActive>
            <i class="fa fa-id-card-o mr-2" aria-hidden="true"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active pl-0"
            routerLink="security"
            routerLinkActive>
            <i class="fa fa-key mr-2" aria-hidden="true"></i>Security</a>
        </li>
      </div>
    </div>
  </div>

  <!-- body -->
  <div class="container" id="settings-body">
    <router-outlet></router-outlet>
  </div>
</div>

